In [1]:
!pip install numpy pandas

Requirement already satisfied: numpy in c:\users\rajat\anaconda4\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\rajat\anaconda4\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rajat\anaconda4\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rajat\anaconda4\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rajat\anaconda4\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rajat\anaconda4\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

file_path = r"C:\Users\rajat\Downloads\loan_data.csv"     #\n , \t 
rajat = pd.read_csv(file_path)

loan_backup = pd.read_csv(file_path)

rajat.head()

C:\Users\rajat\AppData\Local\Temp\ipykernel_15356\2439207279.py:4: DtypeWarning: Columns (6,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,26,27,35,36,45,46,48,49,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  rajat = pd.read_csv(file_path)
C:\Users\rajat\AppData\Local\Temp\ipykernel_15356\2439207279.py:6: DtypeWarning: Columns (6,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,26,27,35,36,45,46,48,49,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_backup = pd.read_csv(file_path)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0.0,1077501.0,1296599.0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1077430.0,1314167.0,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,1077175.0,1313524.0,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1076863.0,1277178.0,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1075358.0,1311748.0,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rajat.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pd.options.display.max_columns = None

In [6]:
rajat.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0.0,1077501.0,1296599.0,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.0,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1077430.0,1314167.0,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,1077175.0,1313524.0,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.0,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1076863.0,1277178.0,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.0,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1075358.0,1311748.0,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.0,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
rajat.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
rajat.columns.values

array(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype=object)

In [9]:
rajat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   237727 non-null  float64
 1   id                           237727 non-null  float64
 2   member_id                    237727 non-null  float64
 3   loan_amnt                    237727 non-null  float64
 4   funded_amnt                  237727 non-null  float64
 5   funded_amnt_inv              237727 non-null  float64
 6   term                         237727 non-null  object
 7   int_rate                     237727 non-null  float64
 8   installment                  237727 non-null  float64
 9   grade                        237727 non-null  object
 10  sub_grade                    237727 non-null  object
 11  emp_title                    223020 non-null  object
 12  emp_length                   228385 non-null  object
 13  home_ownership               237727 non-null  object
 14  annual_inc                   237723 non-null  float64
 15  verification_status          237727 non-null  object
 16  issue_d                      237727 non-null  object
 17  loan_status                  237727 non-null  object
 18  pymnt_plan                   237727 non-null  object
 19  url                          237727 non-null  object
 20  desc                         110704 non-null  object
 21  purpose                      237727 non-null  object
 22  title                        237706 non-null  object
 23  zip_code                     237727 non-null  object
 24  addr_state                   237727 non-null  object
 25  dti                          237727 non-null  float64
 26  delinq_2yrs                  237698 non-null  object
 27  earliest_cr_line             237698 non-null  object
 28  inq_last_6mths               237698 non-null  float64
 29  mths_since_last_delinq       99624 non-null   float64
 30  mths_since_last_record       22165 non-null   float64
 31  open_acc                     237698 non-null  float64
 32  pub_rec                      237698 non-null  float64
 33  revol_bal                    237727 non-null  float64
 34  revol_util                   237508 non-null  float64
 35  total_acc                    237698 non-null  object
 36  initial_list_status          237727 non-null  object
 37  out_prncp                    237727 non-null  float64
 38  out_prncp_inv                237727 non-null  float64
 39  total_pymnt                  237727 non-null  float64
 40  total_pymnt_inv              237727 non-null  float64
 41  total_rec_prncp              237727 non-null  float64
 42  total_rec_int                237727 non-null  float64
 43  total_rec_late_fee           237727 non-null  float64
 44  recoveries                   237727 non-null  float64
 45  collection_recovery_fee      237727 non-null  object
 46  last_pymnt_d                 237491 non-null  object
 47  last_pymnt_amnt              237726 non-null  float64
 48  next_pymnt_d                 77963 non-null   object
 49  last_credit_pull_d           237712 non-null  object
 50  collections_12_mths_ex_med   237581 non-null  float64
 51  mths_since_last_major_derog  34264 non-null   float64
 52  policy_code                  237727 non-null  object
 53  application_type             237726 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    1 non-null       float64
 57  acc_now_delinq               237697 non-null  float64
 58  tot_coll_amt                 167451 non-null  float64
 59  tot_cur_bal                  167451 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             167451 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(49), object(26)
memory usage: 266.8+ MB

In [10]:
# all continius varaibles must be numeric

rajat['emp_length'].unique()
rajat['emp_length'] = rajat['emp_length_int']

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [11]:
# rajat['emp_length'] = rajat['emp_length_int']

rajat['emp_length_int'] = rajat['emp_length'].str.replace('+ years','')
rajat['emp_length_int'] = rajat['emp_length'].str.replace('+< 1 year',str(0))
rajat['emp_length_int'] = rajat['emp_length'].str.replace(' years',str(0))

In [12]:
type(rajat['emp_length_int'][0])

str

In [17]:
# convert str to integer
rajat['emp_length_int'] = pd.to_numeric(rajat['emp_length_int'], errors='coerce')

In [18]:
type(rajat['emp_length_int'][0])

numpy.float64

In [5]:
rajat['earliest_cr_line']

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280       NaN
466281       NaN
466282       NaN
466283       NaN
466284       NaN
Name: earliest_cr_line, Length: 466285, dtype: object

In [11]:
rajat['earliest_cr_line_date'] = pd.to_datetime(rajat['earliest_cr_line'], format='%b-%y', errors='coerce')

# Fixing years that are incorrectly parsed (assuming dates before 2025 should be in the 1900s)
rajat.loc[rajat['earliest_cr_line_date'].dt.year > 2025, 'earliest_cr_line_date'] -= pd.DateOffset(years=100)

In [12]:
type(rajat['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
# calculate overall time has been passed after the earliest credit line
pd.to_datetime('2025-02-19') - rajat['earliest_cr_line_date']

0        14659 days
1         9456 days
2         8511 days
3        10611 days
4        10642 days
            ...
466280          NaT
466281          NaT
466282          NaT
466283          NaT
466284          NaT
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [18]:
import pandas as pd
import numpy as np

rajat['earliest_cr_line_date_month'] = round((pd.to_datetime('2025-02-19') - rajat['earliest_cr_line_date']).dt.days/30.44)

In [19]:
rajat['earliest_cr_line_date_month'].describe()

count    237697.000000
mean        330.773935
std          84.297379
min         160.000000
25%         274.000000
50%         315.000000
75%         372.000000
max         950.000000
Name: earliest_cr_line_date_month, dtype: float64